<!DOCTYPE html>
<html>

<head>
    <style>
        .styletable table {
            border-collapse: collapse;
        }

        .styletable th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f6f6f6
        }

        tr:hover {
            background-color: #757575;
        }

        .styletable th {
            background-color: #6aa3e4;
            color: white;
        }

        .red {
            color: #8C001A;
        }

        .black {
            color: black;
        }

        .backofcard {
            color: #22411c;
        }

        .card {
            display: inline-block;
            text-align: center;

            font-size: 75px;
        }

        #otherplayers * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 20%;
            padding: 5px;
        }

        /* show whos turn it is */
        .currentPlayer {
            background-color: #aaa;
        }

        /* Create two equal columns that floats next to each other */
        .currentPlayerColumn {
            float: left;
            width: 50%;
            padding: 5px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>


</head>

<script>
    let gGame = null;
    let sock = null;
    pingAllClients = JSON.stringify({ msg: 'Hello', path: 'localhost' })
    function wsConnect() {
        var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
        let url =  scheme + window.location.hostname
                            + (location.port ? ':'+location.port: '')
                            + '/ws';
        console.log("url:" + url);
        sock = new WebSocket(url);
        sock.onopen = function () {
            console.log("connected to " + url);
            let mymsg = JSON.stringify({ msg: 'Connect to Game ' + document.getElementById("playerName0").value, path: 'localhost' })
            wsSend(mymsg)
        };
        sock.onmessage = function (e) {
            console.log("onmessage " + e.data);
            LoadAllGameData()
        };
        sock.onclose = function (e) {
            console.log("connection: " + url + " closed(" + e.code + ")")
        };
    }

    function wsDisconnect() {
        sock.close();
        sock = null
    }

    function wsSend(msg) {
        sock.send(msg);
    }


    function titleString(titleNum) {
        switch (titleNum) {
            case -1:
                return "notDecided"
            case 0:
                return "tycoon"
            case 1:
                return "rich"
            case 2:
                return "commoner"
            case 3:
                return "poor"
            case 4:
                return "beggar"
        }
        return ""
    }

    function cardToUnicodeString(cv) {
        // unicode is 
        // Ace, 2, 3, 4, ... 9, 10, J, C, Q, K
        // where C is Knight
        // a card value is
        // 1,2,3 ... 10,11,12,13
        const defaultSuitCardIds = [
            127137, // spades 
            127153, // harts
            127169, // diamonds
            127185  // clubs
        ]

        var base = defaultSuitCardIds[cv.suit]
        var value = cv.value - 1 // make ace a zero not one.        
        // we don't use the knight unicode so skip that. Make queen and king higher
        if (value >= 11) {
            value = value + 1
        }
        var ci = base + value
        var cistr = String.fromCodePoint(ci)
        return cistr

    }


    function makePlayerString(game, i, columnIndex) {
        var p = game.players[i];
        const defaultData = `<div id="column1" class="column">
            <table>
                <tr style="width:50%" class="styletable">
                    <th style="width:10%">MyTurn</th>
                    <th style="width:10%">OutOrder</th>
                </tr>
            </table>
            <label for="playerName">Player Name:</label>
            <input type="text" id="playerName1" name="playerName" value="Bill"><br>
            <h2 id="title1">Player 1 - tycoon</h2>`;
        var str = defaultData.replaceAll("column1", "column" + columnIndex);
        str = str.replaceAll("playerName1", "playerName" + columnIndex);
        str = str.replaceAll("title1", "title" + columnIndex);
        str = str.replaceAll("Player 1 - tycoon", "Player " + i + " - " + titleString(p.title));
        str = str.replaceAll("Bill", p.name);
        if (p.myTurn) {
            str = str.replaceAll("MyTurn", "Turn");
            if (columnIndex === 0) {
                str = str.replaceAll('class="column"', 'class="currentPlayercolumn currentPlayer"');
            }
            else {
                str = str.replaceAll('class="column"', 'class="column currentPlayer"');
            }
        } else {
            str = str.replaceAll("MyTurn", "NotTurn");
            if (columnIndex === 0) {
                str = str.replaceAll('class="column"', 'class="currentPlayercolumn"');
            }
            else {
                str = str.replaceAll('class="column"', 'class="column "');
            }
        }
        if (p.outOrder === -1) {
            str = str.replaceAll("OutOrder", "InGame");
        } else {
            str = str.replaceAll("OutOrder", "OutOrder " + p.outOrder.toString());
        }


        return str;
    }

    function setToPileButton(action) {
        var e = document.getElementById("sendToPile")
        if (e === null) {
            return
        }
        if (action === "invaild") {
            e.disabled = true
            e.innerHTML = "<br>----------- Invaild Turn -----------<br><br>"
        } else if (action === "invaildTrade") {
            e.disabled = true
            e.innerHTML = "<br>----------- invaild Trade ----------<br><br>"
        } else if (action === "vaildSkip") {
            e.disabled = false
            e.innerHTML = "<br>----------- Skip Turn --------------<br><br>"
        } else if (action === "vaildTrade") {
            e.disabled = false
            e.innerHTML = "<br>----------- Trade Cards ------------<br><br>"
        } else if (action === "vaildRestart") {
            e.disabled = false
            e.innerHTML = "<br>----------- Restart Game ------------<br><br>"
        } else if (action === "vaildTurn") {
            e.disabled = false
            e.innerHTML = "<br>----------- Take Turn --------------<br><br>"
        }
    }

    function renderAllGameData(game) {
        gGame = game
        var playerName = document.getElementById("playerName0").value;
        var gameName = document.getElementById("gameName").innerHTML;

        document.getElementById("state").innerHTML = game.state;
        document.getElementById("isRevolution").innerHTML = game.isRevolution;
        document.getElementById("turnAction").innerHTML = game.lastAction.turnAction;
        document.getElementById("gameAction").innerHTML = game.lastAction.gameAction;
        document.getElementById("wasSkip").innerHTML = game.lastAction.isSkip;
        document.getElementById("wasRevolution").innerHTML = game.lastAction.isRevolution;
        document.getElementById("numValidSkips").innerHTML = game.lastAction.numValidSkips;

        var otherPlayers = "";


        var playerIndex = -1;
        var columnIndex = 0;
        var otherPlayers = ""
        for (var i = 0; i < game.players.length; i++) {
            var p = game.players[i];
            if (playerName === p.name) {
                playerIndex = i;
                continue;
            } else {
                columnIndex++;
            }
            var str = makePlayerString(game, i, columnIndex)
            var c = `<div id="cards1">`;
            c = c.replaceAll("cards1", "cards" + columnIndex);
            if (p.cards.length > 0) {
                c += `<span class="card backofcard">&#127136 x`+p.cards.length+`</span>`;
            }
            c += `</div></div>`;
            str += c;
            otherPlayers += str
        }
        document.getElementById("otherPlayers").innerHTML = otherPlayers

        const defaultSuitCheckBoxes = [
            // spades
            `<input class="mycardscheckbox" type="checkbox" onclick="validateMoves()" id="card0" name="card0" value='AAAA'><label class="card black" for="card0">BBBB</label>`,
            // harts
            `<input class="mycardscheckbox" type="checkbox" onclick="validateMoves()" id="card0" name="card0" value='AAAA'><label class="card red" for="card0">BBBB</label>`,
            // diamonds
            `<input class="mycardscheckbox" type="checkbox" onclick="validateMoves()" id="card0" name="card0" value='AAAA'><label class="card red" for="card0">BBBB</label>`,
            // clubs
            `<input class="mycardscheckbox" type="checkbox" onclick="validateMoves()" id="card0" name="card0" value='AAAA'><label class="card black" for="card0">BBBB</label>`
        ]

        var p = game.players[playerIndex];
        var str = makePlayerString(game, playerIndex, 0)
        var c = `<div id="cards0">`;
        for (var j = 0; j < p.cards.length; j++) {
            var cv = p.cards[j]
            var cistr = cardToUnicodeString(cv)
            var d = defaultSuitCheckBoxes[cv.suit]
            var s = d.replaceAll("card0", "card" + j)
            var v = { "suit": cv.suit, "value": cv.value }
            s = s.replaceAll("AAAA", JSON.stringify(v))
            s = s.replaceAll("BBBB", cistr)

            c += s;
        }
        c += `</div></div>`;
        str += c;

        if (p.myTurn) {
            str += '<br><button id="sendToPile" onclick="sendToPile()"><br>----------- Skip Turn --------------<br><br></button>'
        }

        document.getElementById("currentPlayer").innerHTML = str;

        const defaultSuitPile = [
            // spades
            `<span class="card black">BBBB</span>`,
            // harts
            `<span class="card red">BBBB</span>`,
            // diamonds
            `<span class="card red">BBBB</span>`,
            // clubs
            `<span class="card black">BBBB</span>`
        ]

        var c = ``;
        if (game.pile.length != 0) {
            for (var j = 0; j < game.pile[0].length; j++) {
                var cv = game.pile[0][j]
                var cistr = cardToUnicodeString(cv)
                var d = defaultSuitPile[cv.suit]
                var s = d.replaceAll("BBBB", cistr)
                c += s;
            }
        }

        if(c == '') {
            c = '<span class="card backofcard">empty &#x1F006;</span>'
        }

        document.getElementById("pile").innerHTML = c;

        // Always try to take a turn to see what the 
        // server things are valid actions
        if (p.myTurn) {
            takeTurn("justTry")
        }
    }

    function takeTurn(action) {

        var cardsToSend = []
        var elements = document.getElementsByClassName("mycardscheckbox");
        for (var i = 0; i < elements.length; i++) {
            e = elements[i]
            if (e.checked) {
                cardsToSend.push(JSON.parse(e.value))
            }
        }

        let playerName = document.getElementById("playerName0").value
        let takeTurnForm = {
            "gameName": document.getElementById("gameName").innerHTML,
            "playerName": playerName,
            "cards": cardsToSend,
            "justTry": action === "justTry" ? true : false
        }

        var json = JSON.stringify(takeTurnForm)

        var xmlhttp = new XMLHttpRequest();        
        var url = "/takeTurnDaifugoGame";
        if (gGame.state === "trading") {
            url = "/tradeCardsDaifugoGame";
        }

        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var action = JSON.parse(this.responseText);
                if (action !== null && action.turnAction !== null) {
                    setToPileButton(action.turnAction)
                }
                if (!takeTurnForm.justTry) {
                    // reload everyone data
                    let mymsg = JSON.stringify({ msg: 'Taken a turn ' + document.getElementById("playerName0").value, path: 'localhost' })
                    wsSend(mymsg)
                }
            }
        };
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(json);
    }

    function validateMoves() {
        takeTurn("justTry")
    }

    function sendToPile() {
        takeTurn("takeTurn")
    }

    function LoadAllGameData() {
        let playerName = document.getElementById("playerName0").value
        let data = {
            "playerName": playerName,
            "gameName": document.getElementById("gameName").innerHTML,
        }

        json = JSON.stringify(data)

        var xmlhttp = new XMLHttpRequest();
        var url = "/daifugoLoadAllGameData.json";

        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // var uri = "/template/dgame.html?playerName="+data.playerName+"&gameName="+data.gameName;
                // var url = encodeURI(uri);                
                // window.location.replace(url);
                var game = JSON.parse(this.responseText);
                if (game.players == null) {
                    var uri = "/template/dlobby.html";
                    var url = encodeURI(uri);
                    window.location.replace(url);
                } else {
                    renderAllGameData(game, playerName)
                }
            }
        };
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(json);

    }

    window.onload = function () {
        element = document.getElementById("otherPlayers");
        if (element !== null) {
            var url = new URL(window.location.href);
            const playerName = url.searchParams.get('playerName')
            const gameName = url.searchParams.get('gameName')
            var e = document.getElementById("playerName0")
            e.value = playerName
            e = document.getElementById("gameName")
            e.innerHTML = gameName
            LoadAllGameData()
        }
        wsConnect()
    };



</script>

<body>
    <h2>Game Name</h2>
    <h2 id="gameName"></h2>
    <div class="row" id="otherPlayers">
        <div id="column1" class="column">
            <label for="playerName">Player Name:</label>
            <input type="text" id="playerName1" name="playerName" value=""><br>
            <h2 id="title1">Player 1 - tycoon</h2>
            <div id="cards1">
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
            </div>
        </div>
        <div id="column2" class="column">
            <label for="playerName2">Player Name:</label>
            <input type="text" id="playerName" name="playerName" value=""><br>
            <h2 id="title2">Player 2 - rich</h2>
            <div id="cards2">
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
            </div>
        </div>
        <div id="column3" class="column currentPlayer">
            <label for="playerName3">Player Name:</label>
            <input type="text" id="playerName" name="playerName" value=""><br>
            <h2 id="title3">Player 4 - commoner</h2>
            <div id="cards3">
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
            </div>
        </div>
        <div id="column4" class="column">
            <label for="playerName4">Player Name:</label>
            <input type="text" id="playerName" name="playerName" value=""><br>
            <h2 id="title4">Player 5 - poor</h2>
            <div id="cards4">
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
            </div>
        </div>
        <div id="column5" class="column">
            <label for="playerName">Player Name:</label>
            <input type="text" id="playerName5" name="playerName" value=""><br>
            <h2 id="title5">Player 6 - beggar</h2>
            <div id="cards5">
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
                <span class="card backofcard">&#127136</span>
            </div>
        </div>
    </div>

    <h2>pile</h2>

    <div id="pile">
        <span class="card backofcard">empty &#x1F006;</span>
        <span class="card black">&#127137</span>
        <span class="card red">&#127153</span>
        <span class="card red">&#127169</span>
        <span class="card black">&#127185</span>
    </div>

    <h2>Your hand</h2>

    <div id="currentPlayer">
        <div id="column0" class="column">
            <label for="playerName">Player Name:</label>
            <input type="text" id="playerName0" name="playerName" value=""><br>
            <h2 id="title0">Player 3 - commoner</h2>

            <span id="cards0">
                <input class="mycardscheckbox" type="checkbox" id="card0" name="card0" value="0">
                <label class="card black" for="card0">&#127137</label>
                <input class="mycardscheckbox" type="checkbox" id="card1" name="card1" value="1">
                <label class="card red" for="card1">&#127153</label>
                <input class="mycardscheckbox" type="checkbox" id="card2" name="card2" value="2">
                <label class="card red" for="card2">&#127169</label>
                <input class="mycardscheckbox" type="checkbox" id="card3" name="card3" value="3">
                <label class="card black" for="card3">&#127185</label>
            </span>
            <br><button id="sendToPile" onclick="sendToPile()"><br>----------- Send to pile
                --------------<br><br></button>
        </div>
    </div>


    <h2>Current Game State</h2>
    <table>
        <tr style="width:50%" class="styletable">
            <th style="width:10%">state</th>
            <th style="width:10%">isRevolution</th>
        </tr>
        <tbody>
            <tr>
                <td id="state">Started</td>
                <td id="isRevolution">No Revolution</td>
            </tr>
        </tbody>
    </table>


    <h2>What happened last turn</h2>

    <table>
        <tr style="width:50%" class="styletable">
            <th style="width:10%">TurnAction</th>
            <th style="width:10%">GameAction</th>
            <th style="width:10%">Was Skip</th>
            <th style="width:10%">Was Revolution</th>
            <th style="width:10%">Number of player since last play</th>
        </tr>
        <tbody>
            <tr>
                <td id="turnAction">valid</td>
                <td id="gameAction">nextTurn</td>
                <td id="wasSkip">No Skip</td>
                <td id="wasRevolution">No Revolution</td>
                <td id="numValidSkips">0</td>
            </tr>
        </tbody>
    </table>

</body>

</html>