<!DOCTYPE html>
<html>

<head>
    <style>
        .styletable table {
            border-collapse: collapse;
        }

        .styletable th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f6f6f6
        }

        tr:hover {
            background-color: #757575;
        }

        .styletable th {
            background-color: #6aa3e4;
            color: white;
        }
    </style>
</head>
<body>

    <h2>play a game</h2>

</body>

</html>