/********************** common **********************/

#wrapper {
    max-width: 1020px;
    padding: 30px 32px;
    margin: 0 auto;
}


/***** navigation ****/

img.logo {
    float: left;
    padding: 2% 5%;
}

nav ul {
    float: right;
    margin-top: 30px;
    padding: 2% 5%;
}

nav ul li,
ul.footer_nav li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

nav ul li a,
ul.footer_nav li a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}


/*hide humburgler menu */

#hamburgler.hamburgler-icon-wrapper {
    display: none;
}


/***** letter settings ****/

h1,
h2,
h3,
h4,
a {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #4A4A4A;
}

p,ul{
   font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #4A4A4A; 
    line-height: 1.8em;
}

h2,
h3 {
    color: black;
}

section {
    margin-bottom: 10%;
}


/***** header top  text****/

.absoluteContainer {
    /*position: relative;*/
    max-width: 1024px;
    height: 470px;
    margin: 0 auto;
}


/*top header page title*/

#page_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 48%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1020px;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
}


/***** footer ****/

footer {
    background: #2B303A;
    text-align: center;
    border-bottom: 6px solid #B92F40;
    clear: both;
}

ul.footer_nav {
    padding: 20px 0 0 0;
}

footer p {
    margin: 0;
    padding: 20px 0;
    color: #949494;
    font-size: 9px;
}

.social_media i.fa.fa-twitter,
.social_media i.fa.fa-linkedin {
    font-size: 20px;
    color: #ffffff;
}

i.fa.fa-twitter {
    margin-right: 20px;
}


/********************** home **********************/

.container.home {
    background: #2B303A;
    /*height: 820px;*/
}

h1.scott_name {
    text-align: center;
    padding-top: 250px;
    font-size: 60px;
    letter-spacing: 30px;
    color: #ffffff;
}

h2.occupation {
    text-align: center;
    color: #ffffff;
    letter-spacing: 4px;
}


/********************** blog **********************/

header.header_top {
    height: 470px;
    position: relative;
}

header.header_top.blog {
    background: url(../img/1.jpg) no-repeat center center;
    background-size: cover;
}



article.blog_list {
    width: 61.8%;
    max-width: 630px;
}

article.blog_list p {
    margin-bottom: 30px;
}

.blog_list h2{
    text-transform: uppercase;
}

article.blog_list.blog_list_second {
    margin-top: 65px;
}

img.blog_img {
    width: 100%;
}

a.button_read_more {
    text-decoration: none;
    border: 2px solid black;
    padding: 8px 12px;
    color: black;
}

aside {
    float: right;
    width: 276px;
    background-color: #EDEEEF;
    padding: 0 0 0 30px;
    margin-top: 22px;
}

aside h3 {
    margin-left: 27px;
    display: inline;
    border-bottom: 2px solid #B92F40;
}

aside a{
    text-decoration: none;
}

.social_media_side {
    padding: 20px 0 0 0;
    margin: 0 0 20px 25px;
}


/*social media in aside*/

i.fa.fa-twitter,
i.fa.fa-linkedin {
    color: black;
    font-size: 25px;
}

ul.list_blog_title {
    padding: 0;
}

ul.list_blog_title li {
    list-style: none;
}


/*pen icon*/

i.fa.fa-pencil {
    margin-right: 10px;
}


/********************** about **********************/

header.header_top.about {
    background: url(../img/3.jpg) no-repeat center center;
    background-size: cover;
}

.about_intro {
    text-align: center;
    background: #EDEEEF;
}

.about_intro header {
    padding: 10%;
}

section.about_intro {
    margin-bottom: 2%;
}

section.about_intro header h2 {
    margin-bottom: 0;
}

section.profile img {
    max-width: 330px;
    width: 100%;
    float: left;
    margin-right: 5%;
}

section.gallery img {
    float: left;
    width: 20%;
}


/********************** contact **********************/

.social_media.top a i.fa.fa-twitter,
.social_media.top a i.fa.fa-linkedin {
    color: black;
    font-size: 30px;
    margin: 5% 0 2% 0;
}

.social_media.top a i.fa.fa-twitter {
    margin-right: 20px;
}

.row {
    width: 100%;
}

.row.submit {
    text-align: center;
}

.column-half {
    width: 48%;
    float: left;
}

.column-half.name {
    margin-right: 2%;
}

form input,
input#submit {
    font-family: Roboto;
    height: 35px;
    font-weight: 500;
    border: 2.0px solid #979797;
    padding: 5px;
    letter-spacing: 2px;
}

input#submit {
    height: 49px;
    border: 2.0px solid #979797;
}

form input {
    width: 96%;
    margin-bottom: 20px;
}

textarea {
    font-family: Roboto;
    width: 96%;
    height: 15em;
    font-weight: 500;
    border: 2.0px solid #979797;
    margin-bottom: 20px;
    resize: none;
    padding: 5px;
    letter-spacing: 2px;
}

input#submit {
    width: 30%;
    background: #fff;
    color: #979797;
}

textarea::-webkit-input-placeholder,
{
    color: #979797;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #979797;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #979797;
}

:-ms-input-placeholder {
    color: #979797;
}

textarea,
input[type="text"],
input[type="email"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

p.name-error,
p.email-error,
p.subject-error,
p.message-error {
    color: #333;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
}

/********************** games-prelogin **********************/
header.header_top.gamesprelogin {
    background: url(../img/9.jpg) no-repeat center center;
    background-size: cover;
}


/********************** presentation **********************/
header.header_top.presentation {
    background: url(../img/9.jpg) no-repeat center center;
    background-size: cover;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 46.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

.videowrapper img{
    max-width:714px;
    width:100%;
    height: auto;
}



iframe{
    max-width:100%;
    height: auto;
    float: left;
    margin-right: 35px;
    margin-bottom: 50px;
}


/********************** thank you **********************/
img.thanks{
    width: 80%;
    height: auto;
    margin-left: 15%;
}

a.back_link{
    display: block;
    text-align: right;
    margin-right: 30%;
    margin-top: -3%;
}


/********************** Game **********************/

header#scoreboard{
    background: #e5e4e4;
    padding: 18px;
}

.fa.fa-caret-up, .fa.fa-caret-down, .fa.fa-caret-left, .fa.fa-caret-right{
    font-size:3em;
}

.fa-caret-up:before {
    content: "\f0d8";
    position: relative;
    top: -20px;
    right: -3px;
}

.fa-caret-down:before {
    content: "\f0d7";
    position: relative;
    bottom: -14px;
    left: -28px;
}

.fa-caret-right:before {
    content: "\f0da";
    position: relative;
    left: -23px;
}


.game-pad{
    width: 100%;
    background: #e5e4e4;
    padding:20px 0 20px 0;
    text-align:center;

}

.game-pad div{
    display: inline-block;
}

.pad1{
    float:left;
    padding-left: 20px;
}

.pad2{
    padding-right: 40px;
}

.pad3{
    float:right;
    padding-right: 20px;
}




/********************** media query **********************/

@media(max-width:2560px){
    h1.scott_name{
        padding-top:50%;
    }
}

@media(max-width:1440px){
    h1.scott_name{
        padding-top:32%;
    }
}

@media(max-width: 768px) {
  
    h1.scott_name {
        padding-top:47%;
        font-size: 4vw;
        letter-spacing: 12px;
    }
    h2.occupation {
        font-size: 3vw;
    }
    article.blog_list {
        width: 100%;
    }
    aside {
        float: none;
        width: 100%;
        background: none;
        padding: 0;
        margin: 0;
    }
    #page_title {
        font-size: 5vw;
    }
    section.about_intro header h2 {
        font-size: 4vw;
    }
    section.about_intro header h3 {
        font-size: 3vw;
    }
    section.profile img {
        margin-bottom: 5%;
    }
}

@media(max-width: 630px) {
    /* show humburgler menu*/
    #hamburgler.hamburgler-icon-wrapper {
        display: block;
        z-index: 2;
    }
    /* hamburgler menu navigation position down*/
    ul.hamburgler-menu-list {
        position: absolute;
        top: 53%;
        left: 50%;
    }
    ul.hamburgler-menu-list li {
        padding-bottom: 12px;
    }
    ul.hamburgler-menu-list li a {
        text-decoration: none;
        color: #ffffff;
    }
    /* black background fit to header image height*/
    .hamburgler-menu {
        height: 340px;
    }
    /* smaller logo size */
    img.logo {
        width: 50px;
        height: auto;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    /* smaller header image size height*/
    header.header_top {
        height: 340px;
    }
    /* hide desktop size menu*/
    ul.main_nav {
        display: none;
    }
    .container.home {
        height: 758px;
    }
    /* */
    .absoluteContainer {
        height: 340px;
    }

    h1.scott_name {
        padding-top:250px;
    }
}

@media(max-width: 425px) {
    ul.footer_nav {
        padding: 0;
        padding-top: 20px;
    }
    ul.footer_nav li {
        margin: 0;
        display: block;
        padding-bottom: 10px;
    }
    section.profile img {
        width: 80%;
        margin: 0 10% 10% 10%;
    }
    section.gallery img {
        width: 50%;
        float:left;
    }

    section.gallery img.rg{
        float:right;
    }

    .column-half {
        width: 100%;
    }
    input#submit {
        width: 100%;
    }
    .social_media.top {
        margin-bottom: 13px;
    }

    .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fa.fa-caret-up, .fa.fa-caret-down, .fa.fa-caret-left, .fa.fa-caret-right{
    font-size:2.5em;
}

/*.game-pad{
    text-align: justify;
}*/

.game-pad img{
    width:80px;
}



.pad3 img{
    width:42px;
}

.fa-caret-down:before{
    position: relative;
    bottom: -14px;
    left: -25px;
}

}

@media(max-width: 375px){
  .pad2 img {
    width: 70px;
}
}

@media(max-width: 355px){
    .pad2{
        padding-right:0;
        position:relative;
        right: 15px;
    }
}


